Options -MultiViews
RewriteEngine On

# Rediriger vers le contrôleur frontal si le fichier ou le répertoire n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Règle pour les articles : /article/slug-de-l-article
RewriteRule ^([\w-]+)/([\w-]+)/?$ index.php?pg=$1&slug=$2 [QSA,L]


